* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 0.6rem;
}

.nav-item {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0rem 1rem 0rem 0.1rem;
}

.navbar {
  background-color: rgb(202, 212, 225);
  justify-content: space-between;
  margin: 0rem 0.5rem 0rem 0.2rem;
  padding: 0rem;
}

html {
  font-size: 62.5;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

h1 {
  color: darkgreen;
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  color: darkslategrey;
  font-weight: 500;
  font-size: 1.8rem;
}

ul {
  color: rgb(132, 0, 255);
  font-weight: 500;
  font-size: 0.8rem;
}

li {
  color: rgb(1, 28, 28);
  font-weight: 500;
  font-size: 0.8rem;
}

main {
  background-color: rgb(90, 83, 74);
  margin-block-start: 0px;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding: 0rem 0rem 0.5rem 0rem;
}

.naming h1 {
  color: orange;
  font-weight: 800;
  font-size: 2.5rem;
  background-color: rgb(4, 85, 135);
  margin: 1rem;
  padding: 0rem;
}

.carousel {
  margin: 0.5rem;
  padding: 0rem;
}

.presentation {
  padding-bottom: 2rem;
}

.presentation,
h3 {
  padding-bottom: 2rem;
  color: orange;
  font-weight: 500;
  font-size: 1.8rem;
}

.gallery_product {
  margin-bottom: 3rem;
}
.gallery_product {
  color: orange;
  font-weight: 700;
  margin: 0;
  position: relative;
  bottom: 6rem;
  left: 1rem;
  font-size: 1rem;
}
.gallery_product .title small {
  display: block;
}

.gallery_product img {
  opacity: 20;
  width: 120rem;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#subject {
  color: orange;
  font-weight: 500;
  margin: 1rem 3rem 3rem 2rem;
  font-size: 1.5rem;
}
.service {
  margin: 0.2rem 0.2rem 0.2rem 0.2cm;
  background-color: wheat;
}

.service li {
  color: darkslategrey;
  font-weight: 500;
  font-size: 0.9rem;
}

.who {
  color: yellow;
  font-weight: 500;
  margin: 0;
  position: relative;
  top: 4rem;
  bottom: 1rem;
  left: 0.5rem;
  right: 0.3rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 0.9rem;
  margin: 2rem 3rem 4rem 0rem;
}

.who i {
  color: orange;
}

.who img {
  opacity: 0.8;
}

.footer_1 {
  color: gainsboro;
  margin: 0rem 0rem 1rem 1rem;
  font-size: 0.8rem;
  display: block;
  padding-right: 5rem;
  text-decoration: none;
}

.footer_1 a {
  font-size: 0.8rem;
  text-decoration: none;
  color: gainsboro !important;
  display: block;
}

.footer hr {
  color: orange;
}
.footer small {
  color: lightgray;
  font-size: 0.6rem;
}

.footer h5,
h6 {
  font-size: 0.7rem;
  color: gainsboro;
}

.contact {
  font-weight: 500;
  margin: 0.5rem;
  text-align: center;
  color: white;
}
.contact img {
  width: 50rem;
  height: 25rem;
  object-fit: fill;
  margin: 1rem;
  opacity: 0.6;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
